<H1>Home Page</H1>
<p>This is a list of the messages</p>
<% @messages.each do |message| %>
  <div class="col-md-4">
    <div class="message">
      <h2 class="message-title" ><%= message.title %></h2>
        <%= link_to "View Message", message_path(message), class: "btn-custom" %>
    </div>
  </div>
<% end %>
