<h1>Hello, you're in the index action of the messages controller!</h1>

<% @messages.each do |message| %>
  <h2><%= message.title %></h2>
  <%= link_to "View Message", message_path(message), class: "btn btn-default" %>
<% end %>
<br>
<%= link_to "New Message", new_message_path, class: "btn btn-default" %>
